@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #1b2127;
  color: white;
  font-family: "Rubik";
}

/* HEADER SECTION */

header {
  height: 10vh;
  background-color: #14181c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}

header img {
  width: 5rem;
  display: flex;
  margin-right: 3.125rem;
}

header ul {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  align-items: center;
}

header li a {
  position: relative;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
header li a::before {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  bottom: -7px;
  transition: 0.3s;
}

header li a:hover::before {
  width: 100%;
}

/* NAV LINKS */

.nav-links ul {
  display: flex;
  justify-content: space-between;
  width: 10vw;
  margin: 0 2vw;
  margin-top: 1.25rem;
}

.nav-links li {
  text-transform: uppercase;
}

/* FIRST SECTION */

.first-section {
  margin: 0 2vw;
}

.first-section h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.first-section p {
  width: 40vw;
}

/* MOVIES SECTION */

.movies-sec {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.25rem 2vw;
}

.movies-sec section {
  border: 2px solid white;
  border-radius: 0.5rem;
  transition: 0.2s;
}

.movies-sec section:hover {
  border: 2px solid greenyellow;
  transform: scale(1.02);
}

.movies-sec section {
  padding: 0.625rem;
}

.movies-sec h2 {
  font-size: 1.2rem;
  margin-top: 0.625rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.movies-sec span {
  display: block;
}

.movies-sec span {
  margin-bottom: 0.3125rem;
}

.movies-sec .saving {
  color: yellowgreen;
}

.filmsToBuy {
  background-color: #14181c;
}


.offers {
  background-color: #14181c;
}

/* MEDIA QUERIES*/
@media (max-width: 480px) {

  header {
    height: 17vh;
    display: block;
    padding-top: 0.625rem;
  }

  header img {
    width: 90px;
    display: block;
    margin: 10px auto;
  }

  header ul {
    width: 73vw;
    margin: 10px auto;
  }

  header li a {
    font-size: 0.7rem;
  }

  .nav-links ul {
    width: 40vw;
    margin-top: 10px;
  }

  .first-section p {
    width: 80vw;
  }

  .movies-sec {
    justify-content: space-around;
    margin: 20px 5vw;
  }

  .movies-sec section {
    margin-bottom: 10px;
  }
}

@media print {
  header ul {
    display: none;
  }
}